{{>licenseInfo}}
/*
 * ModelBase.h
 *
 * This is the base class for all model classes
 */

{{{defaultInclude}}}

#include <cpprest/details/basic_types.h>
#include <cpprest/json.h>

#include <vector>

#include "configs-list.hpp"

{{#configsList}}
#include "{{name}}.hpp"
{{/configsList}}
#include "config_manager.hh"

namespace configs{



void FillConfigManager(ConfigManager& config_manager){
  config_manager.{{#configsList}}
  PushConfig<{{name}}>(){{^-last}}.{{/-last}}{{/configsList}};

}

} //configs
