{{>licenseInfo}}
/*
 * ModelBase.h
 *
 * This is the base class for all model classes
 */

{{{defaultInclude}}}


#include <vector>

#include "configs-list.hpp"

{{#configsList}}
#include "{{name}}.hpp"
{{/configsList}}
#include "configs/configs_manager.hh"

namespace configs{



void FillConfigManager(ConfigManager& config_manager){
  config_manager.{{#configsList}}
  PushConfig<{{name}}>(){{^-last}}.{{/-last}}{{/configsList}};

}

} //configs
